<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <title>{{title}}</title>
</head>

<body>

  {{> navbar}}

  <div class="container">

    {{> flash}}

    <h1>Assignments</h1>
    <ul class="list-group">
      {{#each assignments}}
      <li class="list-group-item">
        <span class="badge">Early Submission Deadline: Tuesday 11:59PM</span>
        <a href="/assignment/{{_id}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>

</body>
</html>
