extends layout

block content
  h1 Problems
  ul.list-group
    li.list-group-item
      span.badge 0/0
      a(href="/fixedFormula/Lena3") BLOCKS WORLD: Lena3
    li.list-group-item
      span.badge 0/0
      a(href="/fixedWorld/X") BLOCKS WORLD: X
