<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <title>{{title}}</title>
</head>

<body>

  {{> navbar}}

  <div class="container">

    {{> flash}}

    <h1>Problems</h1>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">0 attempt(s)</span>
        <a href="/proofchecker/AndOrElim">PROOF CHECKER: AndOrElim</a>
      </li>
    </ul>
  </div>

</body>
</html>
