extends layout

block content
  h1 Problems
  ul.list-group
    li.list-group-item
      span.badge 0/0
      a(href="/blocksFixedFormula/problemName1") problemName1
    li.list-group-item
      span.badge 0/0
      a(href="/blocksFixedWorld/problemName2") problemName2
    li.list-group-item
      span.badge 0/0
      a(href="/trueFalse/problemName3") problemName3
    li.list-group-item
      span.badge 0/0
      a(href="/radioButton/problemName4") problemName4
    li.list-group-item
      span.badge 0/0  
      a(href="/checkBox/problemName5") problemName5
      
