extends layout

block content
  form(method='POST')
    legend Signup
    .form-group
      label(for='username') SUNet ID
      input.form-control(type='text', name='username', autofocus)
    .form-group
      label(for='password') CS103 Password
      input.form-control(type='password', name='password')
    .form-group
      label(for='confirmPassword') Confirm CS103 Password
      input.form-control(type='password', name='confirmPassword')
    button.btn.btn-primary(type='submit') Sign Up
